.Die-container {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Die-container::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    z-index: -1;
}

.Die-container img {
    width: 50px;
    object-fit: cover;
    object-position: center;
    filter: invert(100%) brightness(110%) contrast(120%);
}

.holdEffect {
    opacity: .65;
}